body {
  background-color: #000;
  text-align: center;
  font-family: Vernada, Geneva, Tahoma, saf-serif;
}

p {
  color: Gray;
  font-size: 21px;
}

/* HEADINGS */

.headerOne {
  font-weight: normal;
  font-size: 50px;
  color: #fff;
}

.headerTwo {
  font-weight: 300;
  font-size: 42px;
  color: #fff;
}

/* LINKS */

.hyperLink {
  color: aquamarine;
  font-size: 16px;
}

/* FOOTER COPYRIGHT */

#footer {
  text-align: right;
}
