body {
  background-color: #000;
  text-align: center;
  font-family: Vernada, Geneva, Tahoma, saf-serif;
}

footer {
  text-align: right;
}

hyperLink {
  color: aquamarine;
  font-size: 16px;
}

headerOne {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}

headerTwo {
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
  text-align: center;
}

p {
  font-family: Verdana;
  color: Gray;
  text-align: center;
}
